@charset "UTF-8";
/* CSS Document */
#main-contents-form {
    background-color: #00a0f7;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10% 15px 15%;
    position: relative;
    margin-top: 20%;
    overflow: unset;
}
#main-contents-form::before {
    content: "";
    position: absolute;
    height: auto;
    background-image: url("./../images/top/top-bttom-after2.svg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: bottom,center;
    width: 100%;
    left: 50%;
    top: -7%;
    animation: cloud04 90s linear infinite;
    min-height: 90px;
    transform: translateX(-50%);
    z-index: 2;
}
#main-contents-form::after {
    content: "";
    position: absolute;
    height: auto;
    background-image: url("../images/top/top-after.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 200%;
    left: 50%;
    bottom: -1%;
    animation: cloud05 140s linear infinite;
    min-height: 80px;
}
#main-contents-form h1 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}
table {
    width: 100%;
    max-width: 960px;
    margin: 50px auto;
}
th {
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px;
    padding-right: 13px;
}
th {
    text-align: left;
    font-size: 16px;
    color: #144c6a;
    padding-right: 5px;
    width: 30%;
    background: #cdecfd;
    border: solid 1px #00a0f7;
    vertical-align: middle;
}
td {
    font-size: 16px;
    border: solid 1px #00a0f7;
    padding: 13px;
    vertical-align: middle;
    background-color: #fff;
    line-height: 1.6;
}
#card-logo {
    background-color: #82d1ff;
	width: 100%;
	margin: 0 auto;
	position: relative;
	min-height: 400px;
	padding: 50px 0 10%;
}
#card-logo::after {
    content: "";
    position: absolute;
    height: 80px;
    background-image: url("../images/top/top-menu-after.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 200%;
    left: 50%;
    bottom: -15px;
    animation: cloud05 140s linear infinite;
    transform: translateX(-50%);
}
.logo-text {
    text-align: center;
}
.pay-text {
    height: 28px;
}
.logo-area {
	margin: 10% auto 0;
	max-width: 450px;
	width: 84%;
}
.logo-content01 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.visa {
  width: 70px;
  height: auto;
}
.Mastercard {
  width: 72px;
  height: auto;
}
.logo-content02 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.alipay {
  width: 40px;
  height: auto;
}
.wechat {
  width: 40px;
  height: auto;
}
.visadebit {
  width: 80px;
  height: auto;
}
.Mastercard-3 {
  width: 100px;
  height: auto;
}
.logo-content03 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.jcb {
  width: 50px;
  height: auto;
}
.amex {
  width: 35px;
  height: auto;
}
.dinersclub {
  width: 55px;
  height: auto;
}
.discover {
  width: 60px;
  height: auto;
}
.ginren {
  width: 60px;
  height: auto;
}
@media only screen and (min-width: 600px) {
#card-logo {
    min-height: 500px;
}
#card-logo::after {
    bottom: 0;
}
.logo-area {
	width: 500px;
	max-width: none;
	margin: 80px auto 0;
}
.logo-content02 {
    margin-top: 30px;
}
.logo-content03 {
    margin-top: 30px;
}
.pay-text {
    height: 28px;
}
.visa {
  width: 100px;
}
.Mastercard {
  width: 102px;
}
.alipay {
  width: 60px;
}
.wechatpay {
  width: 150px;
}
.wechat {
  width: 70px;
}
.visadebit {
  width: 120px;
}
.Mastercard-3 {
  width: 180px;
}
.jcb {
  width: 70px;
}
.amex {
  width: 50px;
}
.dinersclub {
  width: 70px;
}
.discover {
  width: 80px;
}
.ginren {
  width: 80px;
}
}
@media only screen and (min-width: 1024px) {
#main-contents-form {
    background-color: #00a0f7;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 50px 15px 180px;
    position: relative;
    margin-top: 130px;
	overflow: unset;
}
#main-contents-form h1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
#main-contents-form::before {
    content: "";
    position: absolute;
    height: 90px;
    background-image: url("./../images/top/top-bttom-after2.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 110%;
    left: 50%;
    top: -90px;
    animation: cloud04 90s linear infinite;
    min-height: auto;
	z-index: 2;
}
#card-logo {
	padding-bottom: 120px;
	min-height: 650px;
}
#card-logo::after {
    bottom: -1px;
}
body.Win.Ie.PC #card-logo::after {
    background-image: url("../images/top/top-menu-after.png");
}
.logo-text img {
  height: 48px;
}
.logo-area {
  width: 960px;
}
.visa {
  width: 140px;
}
.Mastercard {
  width: 140px;
}
.alipay {
  width: 80px;
}
.wechatpay {
  width: 150px;
}
.wechat {
  width: 90px;
}
.visadebit {
  width: 150px;
}
.Mastercard-3 {
  width: 250px;
}
.jcb {
  width: 100px;
}
.amex {
  width: 80px;
}
.dinersclub {
  width: 100px;
}
.discover {
  width: 110px;
}
.ginren {
  width: 110px;
}
}