@charset "UTF-8";
/* CSS Document */
#main-contents-top{
	background-color: #fff;
	text-align: center;
	position: relative;
	width: 100%;
	height: auto;
}
#main-title{
	width: 80%;
	max-width: 780px;
}
#main-english {
    position: absolute;
    width: 6vw;
    left: 0;
    z-index: 0;
    height: auto;
}
#main-contents-middle{
	background-color: #00a0f7;
	text-align: center;
	width: 100%;
	height: auto;
	position: relative;
}
#main-contents-middle::before {
    content: "";
    position: absolute;
    height: auto;
    background-image: url("../images/main-middle-cloud-top.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: top,center;
    width: 200%;
    left: 50%;
    top: -1px;
    min-height: 20%;
    transform: translateX(-50%);
}
body.Win.Ie.PC #main-contents-middle::before {
    background-image: url("../images/main-middle-cloud-top.png");
}
#main-contents-middle::after{
	content: "";
	position: absolute;
	height: auto;
    background-image: url("../images/main-middle-cloud-bottom.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom,center;
	width: 200%;
	left: 50%;
	bottom: -1px;
	min-height: 20%;
	transform: translateX(-50%);
}
body.Win.Ie.PC #main-contents-middle::after{
    background-image: url("../images/main-middle-cloud-bottom.png");
}
.main-contents-middle-inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 25% 15px;
}
.main-contents-middle-inner01 {
    background-color: #0071b2;
    border: 4px solid #fff;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.main-contents-middle-inner02 {
    background-color: #0071b2;
    border: 4px solid #fff;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin-top: 60px;
}
.main-contents-middle-inner03 {
    background-color: #0071b2;
    border: 4px solid #fff;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin-top: 60px;
}
.main-contents-middle-inner h2 {
    color: #ffff00;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    margin: 0;
}
.main-contents-middle-inner h3 {
    margin: 0 auto 20px;
    width: 100%;
    height: 50px;
    background-color: #bdbbbb;
    color: #000;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
#voice {
    background-color: #ffff00;
    padding: 16px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.voice-block {
    width: auto;
    margin-bottom: 0;
	text-align: center;
}
.voice-block h2 {
	color: #007cba;
	font-size: 25px;
	margin-bottom: 30px;
	text-align: center;
}
.voice-block h4 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}
#voice ul li {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 15px;
}
.voice-img-block {
    width: 58%;
    margin-bottom: 10px;
}
#title-voce {
    width: 70%;
}
h4 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}
#voice p{
	font-size: 16px;
	line-height: 1.6;
	text-align: justify;
	margin-bottom: 20px;
}
#main-contents-top-inner {
    position: relative;
    margin: 0 auto 15%;
    width: 100%;
    padding: 0 15px;
}
#main-contents-top-cloud {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    top: 0;
    z-index: 1;
    padding: 0 15px;
	align-items: center;
}
.main-middle-cloud{
	width: 30%;
	filter: drop-shadow(4px 4px 6px rgba(0,0,0,.5));
	animation: cloud 6s both infinite;
	transform: translate(0%,0%);
	transform-origin: center;
}
@keyframes cloud {
0% {
	transform: translate(0%,0%);
}
50% {
	transform: translate(0%,-10%);
}
100% {
	transform: translate(0%,0%);
}
}
#main-middle-cloud02 {
    margin-bottom: 120px;
}
#main-contents-top-image {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
#main-image-house {
    margin-left: 20%;
    margin-top: 25%;
    width: 70%;
}
#main-image-sagyousha {
    width: 60%;
    position: absolute;
    bottom: -10%;
}
#top-image-middole{
	max-width: 1280px;
	padding: 160px 0;
}
#main-contents-middle2 {
    background-color: #fff;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    padding: 15% 15px;
	overflow: hidden;
}
#main-contents-middle2::after {
    content: "";
    position: absolute;
    height: 80px;
    background-image: url("../images/top/top-after.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 200%;
    left: 50%;
    bottom: -15px;
    animation: cloud04 90s linear infinite;
    transform: translateX(-50%);
}
body.Win.Ie.PC #main-contents-middle2::after {
    background-image: url("../images/top/top-after.png");
}
@keyframes cloud04 {
0% {
	background-position: 0 0;
}
100% {
	background-position: -1280px 0;
}
}
#main-contents-middle2 h2 {
    font-size: 24px;
    color: #f6921e;
    font-weight: bold;
    line-height: 1.2;
}
#main-contents-middle2 p {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin-top: 30px;
    line-height: 1.6;
}
#main-contents-form {
    background-color: #00a0f7;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 15% 15px;
    position: relative;
	overflow: hidden;
}
#main-contents-form::after {
    content: "";
    position: absolute;
    height: auto;
    background-image: url("../images/top/top-after.svg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: bottom,center;
    width: 100%;
    left: 50%;
    bottom: 0;
    animation: cloud05 140s linear infinite;
    min-height: 80px;
    transform: translateX(-50%);
}
body.Win.Ie.PC #main-contents-form::after {
    background-image: url("../images/top/top-after.png");
}
@keyframes cloud05 {
0% {
	background-position: 0 0;
}
100% {
	background-position: -1280px 0;
}
}
.main-contents-middle-inner-block {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}
.main-contents-middle-inner-block:nth-child(2) {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.main-contents-middle-inner-block:nth-child(3) {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.main-contents-middle-inner-block:last-child {
	margin-bottom: 0px;
}
.main-contents-middle-inner02 .main-contents-middle-inner-block:nth-child(2) {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0px;
}
.main-contents-middle-inner03 .main-contents-middle-inner-block:nth-child(2) {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0px;
}
#main-contents-form h2 {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}
#main-contents-form h3 {
    font-size: 21px;
    color: #FFEC00;
    font-weight: bold;
    margin-top: 30px;
}
#main-contents-form p{
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
}
.inquiry th {
    text-align: left;
    font-size: 14px;
    color: #000;
}
.contents-title {
    width: 100%;
    text-align: left;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: auto;
    padding: 5% 0 0;
    font-size: 20px;
    display: block;
    align-items: center;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
}
.main-contents-middle-inner02 .contents-title {
    background-image: none;
}
.main-contents-middle-inner03 h4 {
    font-size: 21px;
    text-align: left;
    margin-bottom: 5%;
    color: #fff;
    font-weight: bold;
}
h3.sorapro-title {
    background-color: #ffff00;
    color: #0071b2;
}
.main-contents-middle-inner03 h3.sorapro-title {
    height: 80px;
}
#nomal-process {
	width: 100%;
}
#sorapro-process {
    width: 100%;
}
.inner02-p {
    color: #fff;
    text-align: justify;
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}
#jitsurei-block {
    margin: 30px auto 15%;
    display: flex;
    flex-flow: column;
}
.jitsurei {
	width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
#jitsurei01 {
    width: 100%;
}
#jitsurei02 {
    width: 100%;
}
#jitsurei-block .jitsurei:last-child {
    margin-top: 10%;
}
#main-contents-form small {
    color: #fff;
    font-size: 13px;
}
#main-contents-form small a{
    color: #FAFF00;
    font-size: 13px;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 30px auto;
    max-width: 960px;
    width: 100%;
}
#main-contents-business {
    width: 100%;
    margin: 0 auto 20%;
    padding: 0 15px;
}
#main-contents-business h2 {
    font-size: 21px;
    font-weight: bold;
    background-color: #00abff;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 30px;
}
#main-contents-business p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
	text-align: justify;
	font-weight: bold;
}
#business-image01 {
    margin-bottom: 10px;
}
#business-image02 {
    margin: 20px auto 10px;
}
#main-contents-menu {
    background-color: #82d1ff;
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 400px;
	padding-bottom: 10%;
}
#main-contents-menu::after {
    content: "";
    position: absolute;
    height: auto;
    background-image: url("./../images/top/top-bttom-after2.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom,center;
    width: 200%;
    left: 50%;
    bottom: -15px;
    animation: cloud06 90s linear infinite;
    min-height: 80px;
    transform: translateX(-50%);
}
body.Win.Ie.PC #main-contents-menu::after {
    background-image: url("./../images/top/top-bttom-after2.png");
}
@keyframes cloud06 {
0% {
	background-position: 0 0;
}
100% {
	background-position: -1280px 0;
}
}
#main-menu{
	padding-top: 100px;
}
#menu {
    height: 28px;
}
#menu-list{
	width: 100%;
	margin: 10% auto 0;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding: 0 15px;
}
.menu-list{
	width: 100%;
	margin: 0 0 60px;
}
.menu-list:last-child{
	width: 100%;
	margin: 0 0 60px;
}
.top-menu-list-title {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #005190;
}
.top-menu-list-text {
    font-size: 13px;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.6;
}
.top-menu-list-recommend {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
	width: 100%;
}
.top-menu-list-recommend-text {
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
}
.top-menu-list-end {
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    line-height: 1.3;
    color: #005190;
}
.top-menu-list-text span {
    font-size: 12px;
    text-align: left;
    font-weight: normal;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.6;
}
#click-button2 {
    width: 100%;
    padding: 0 15px;
    display: block;
    margin: 0 auto 30px;
}
#card-logo {
    background-color: #82d1ff;
	width: 100%;
	margin: 0 auto;
	position: relative;
	min-height: 400px;
	padding: 50px 0 10%;
}
#card-logo::after {
    content: "";
    position: absolute;
    height: 80px;
    background-image: url("../images/top/top-menu-after.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 200%;
    left: 50%;
    bottom: -15px;
    animation: cloud05 140s linear infinite;
    transform: translateX(-50%);
}
.logo-text {
    text-align: center;
}
.pay-text {
    height: 28px;
}
.logo-area {
	margin: 10% auto 0;
	max-width: 450px;
	width: 84%;
}
.logo-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.logo-content li {
	margin: 0 20px 20px
}
.visa {
  width: 57px;
  height: auto;
}
.visadebit {
  width: 80px;
  height: auto;
}
.Mastercard {
  width: 60px;
  height: auto;
}
.Mastercard-3 {
  width: 100px;
  height: auto;
}
.jcb {
  width: 50px;
  height: auto;
}
.alipay {
  width: 40px;
  height: auto;
}
.wechat {
  width: 40px;
  height: auto;
}
.amex {
  width: 35px;
  height: auto;
}
.dinersclub {
  width: 55px;
  height: auto;
}
.discover {
  width: 60px;
  height: auto;
}
.ginren {
  width: 60px;
  height: auto;
}
@media only screen and (min-width: 600px) {
.mobile{
		
}
#main-contents-top-inner {
    position: relative;
    margin: 50px auto 50px;
	width: 100%;
    padding: 0;
}
#main-contents-top-cloud {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    top: 0;
    z-index: 1;
    padding: 0;
}
.main-middle-cloud {
    width: 335px;
    filter: drop-shadow(4px 4px 6px rgba(0,0,0,.5));
    animation: cloud 6s both infinite;
    transform: translate(0%,0%);
    transform-origin: center;
}
#main-contents-top-image {
    width: 960px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
#main-image-house {
    margin-left: 100px;
	margin-top: 140px;
	width: auto;
}
#main-image-sagyousha {
    width: 550px;
    position: absolute;
    bottom: 0;
}
#main-contents-middle::before {
    content: "";
    position: absolute;
    height: 120px;
    background-image: url("../images/main-middle-cloud-top.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: top;
    width: 110%;
    left: 50%;
    top: -1px;
    min-height: auto;
}
#main-contents-middle::after {
    content: "";
    position: absolute;
    height: 120px;
    background-image: url("../images/main-middle-cloud-bottom.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 110%;
    left: 50%;
    bottom: -1px;
	min-height: auto;
}
#main-contents-business {
    width: auto;
    margin: 0 auto 200px;
    padding: 0 30px;
}
#main-contents-business h2 {
    font-size: 40px;
    font-weight: bold;
    background-color: #00abff;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 30px;
}
#main-contents-business p {
    font-size: 21px;
    line-height: 1.6;
    margin-bottom: 20px;
	text-align: left;
}
.main-contents-middle-inner {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 200px 30px;
}
.main-contents-middle-inner-block {
    flex-flow: column;
    margin-bottom: 3%;
}
.main-contents-middle-inner01{
	padding: 20px;
}
.main-contents-middle-inner02{
	padding: 20px;
}
.main-contents-middle-inner03{
	padding: 20px;
}
.main-contents-middle-inner h2 {
    font-size: 4vw;
    margin: 0 0 10px 0;
}
.contents-title {
    background-image: url("./../images/consumers/tatle-plane01.svg");
    height: 60px;
    padding: 6px 0 0 20%;
    font-size: 1.6vw;
    display: flex;
    line-height: 1;
    color: #0071b2;
}
.main-contents-middle-inner-block:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 3%;
}
.main-contents-middle-inner h3 {
    margin: 0 2% 0 0;
    width: 20%;
    height: 60px;
    background-color: #bdbbbb;
    color: #000;
    font-size: 2vw;
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.main-contents-middle-inner h3 .br-pc {
    display: block;
}
h3.sorapro-title {
    background-color: #ffff00;
    color: #0071b2;
}
.main-contents-middle-inner-block:nth-child(3) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 30px;
}
.voice-block h4 {
    font-size: 18px;
}
.voice-block h2 {
}
.voice-img-block {
  width: 170px;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#title-voce {
  height: 100%;
  width: 70%;
  margin-bottom: 5px;
}
h4 {
  font-size: 13px;
  font-weight: bold;
}
.voice-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%;
  /*! margin-bottom: 20px; */
}
.voice-text-box {
  width: 75%;
  height: auto;
}
.main-contents-middle-inner02 .contents-title {
    background-image: url("./../images/consumers/tatle-plane02.svg");
}
.main-contents-middle-inner02 .main-contents-middle-inner-block:nth-child(2) {
    flex-flow: row nowrap;
}
.main-contents-middle-inner03 .main-contents-middle-inner-block:nth-child(2) {
    flex-flow: row nowrap;
}
.inner02-p {
    color: #fff;
    text-align: justify;
    width: 400px;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}
#nomal-process {
	width: 80%;
}
#sorapro-process {
    width: 80%;
}
.main-contents-middle-inner03 h3.sorapro-title {
	height:150px;
}
.main-contents-middle-inner03 h4{
	font-size: 28px;
	text-align: left;
	margin-bottom: 5px;
	color: #fff;
	font-weight: bold;
}
#main-contents-middle2{
	padding: 100px 0;
}
#main-contents-middle2 h2 {
    font-size: 40px;
	line-height: 1;
}
#main-contents-middle2 h2 .br-sp {
    display: block;
}
#main-contents-middle2 p {
    font-size: 22px;
}
#jitsurei-block {
    margin: 60px auto 200px;
	padding: 30px;
}
#jitsurei-block .jitsurei:last-child{
	margin-top: 80px;
}
#main-contents-middle2::after {
    content: "";
    position: absolute;
    height: 90px;
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 200%;
    left: 50%;
    bottom: -1px;
    animation: cloud04 90s linear infinite;
	min-height: auto;
}
#main-contents-form {
    padding: 50px 30px 180px;
}
#main-contents-form h2{
	font-size: 40px;
	line-height: 1;
}
#main-contents-form h2 .br-sp {
    display: block;
}
#main-contents-form h3{
	font-size: 32px;
}
#main-contents-form p{
	font-size: 21px;
	margin-top: 20px;
}
#main-contents-form::after {
    content: "";
    position: absolute;
    height: 90px;
    background-image: url("../images/top/top-after.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 200%;
    left: 50%;
    bottom: -1px;
	animation: cloud05 140s linear infinite;
	min-height: auto;
	transform: translateX(-50%);
}
#main-contents-form small {
    color: #fff;
    font-size: 13px;
}
#main-contents-form small a{
    color: #FAFF00;
    font-size: 13px;
}
#menu-list {
    width: 100%;
    margin: 80px auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px;
}
.menu-list {
    width: 48%;
    margin: 0 0 10%;
}
#main-contents-menu::after {
    content: "";
    position: absolute;
    height: 80px;
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 200%;
    left: 50%;
    bottom: 0;
    animation: cloud05 140s linear infinite;
    transform: translateX(-50%);
}
#click-button2 {
    width: 60%;
    padding: 0 15px;
    display: block;
    margin: 0 auto 30px;
}
.top-menu-list-end {
    font-size: 22px;
}
#card-logo {
    min-height: 500px;
}
#card-logo::after {
    bottom: 0;
}
.logo-area {
	width: 500px;
	max-width: none;
	margin: 80px auto 0;
}
.pay-text {
    height: 25px;
}
.visa {
  width: 70px;
}
.visadebit {
  width: 100px;
}
.Mastercard {
  width: 70px;
}
.Mastercard-3 {
  width: 140px;
}
.jcb {
  width: 60px;
}
.alipay {
  width: 55px;
}
.wechat {
  width: 65px;
}
.amex {
  width: 50px;
}
.dinersclub {
  width: 70px;
}
.discover {
  width: 80px;
}
.ginren {
  width: 80px;
}
}
@media only screen and (min-width: 1024px) {
#main-title {
    width: 60%;
    max-width: 780px;
}
#main-english {
    position: absolute;
    width: 62px;
    left: 0;
    z-index: 0;
    height: auto;
}
#main-contents-top-inner {
    position: relative;
    margin: 50px auto 50px;
	width: 100%;
    padding: 0;
}
#main-contents-top-cloud {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    top: 0;
    z-index: 1;
    padding: 0;
}
.main-middle-cloud {
    width: 335px;
    filter: drop-shadow(4px 4px 6px rgba(0,0,0,.5));
    animation: cloud 6s both infinite;
    transform: translate(0%,0%);
    transform-origin: center;
}
#main-contents-top-image {
    width: 960px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
#main-image-house {
    margin-left: 100px;
	margin-top: 140px;
	width: auto;
}
#main-image-sagyousha {
    width: 550px;
    position: absolute;
    bottom: 0;
}
#main-contents-middle::before {
    content: "";
    position: absolute;
    height: 120px;
    background-image: url("../images/main-middle-cloud-top.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: top;
    width: 110%;
    left: 50%;
    top: -1px;
    min-height: auto;
}
#main-contents-middle::after {
    content: "";
    position: absolute;
    height: 120px;
    background-image: url("../images/main-middle-cloud-bottom.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 110%;
    left: 50%;
    bottom: -1px;
	min-height: auto;
}
#main-contents-business {
    width: 960px;
    margin: 0 auto 200px;
	padding: 0;
}
#main-contents-business h2 {
    font-size: 40px;
    font-weight: bold;
    background-color: #00abff;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 30px;
}
#main-contents-business p {
    font-size: 21px;
    line-height: 1.6;
    margin-bottom: 20px;
	text-align: left;
}
.main-contents-middle-inner {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 200px 0;
}
.main-contents-middle-inner-block {
    flex-flow: row nowrap;
	margin-bottom: 30px;
}
.main-contents-middle-inner01{
	padding: 40px;
}
.main-contents-middle-inner02{
	padding: 40px;
}
.main-contents-middle-inner03{
	padding: 40px;
}
.main-contents-middle-inner h2{
	font-size: 32px;
	margin: 0;
}
.contents-title {
    width: 708px;
    height: 32px;
    padding: 0 0 0 140px;
    font-size: 14px;
}
body.Win.Ie.PC .contents-title {
    height: 70px;
}
.main-contents-middle-inner-block:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 30px;
}
.main-contents-middle-inner h3 {
    margin: 0;
    width: 150px;
    height: 90px;
    background-color: #bdbbbb;
    color: #000;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
h3.sorapro-title {
    background-color: #ffff00;
    color: #0071b2;
}
.main-contents-middle-inner-block:nth-child(3) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 30px;
}
#voice ul li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;
}
.voice-block h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.voice-block h2 {
  color: #007cba;
  margin-bottom: 30px;
}
.voice-img-block {
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
h4 {
  font-size: 12px;
}
.voice-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%;
  /*! margin-bottom: 20px; */
}
.voice-text-box {
  width: 80%;
  height: auto;
}
.main-contents-middle-inner02 .contents-title {
    background-image: url("./../images/consumers/tatle-plane02.svg");
}
.main-contents-middle-inner02 .main-contents-middle-inner-block:nth-child(2) {
    flex-flow: row nowrap;
}
.main-contents-middle-inner03 .main-contents-middle-inner-block:nth-child(2) {
    flex-flow: row nowrap;
}
.inner02-p {
    color: #fff;
    text-align: justify;
    width: 520px;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}
#nomal-process {
	width: 80%;
}
#sorapro-process {
    width: 80%;
}
.main-contents-middle-inner03 h3.sorapro-title {
	height:150px;
}
.main-contents-middle-inner03 h4{
	font-size: 28px;
	text-align: left;
	margin-bottom: 5px;
	color: #fff;
	font-weight: bold;
}
#main-contents-middle2{
	padding: 100px 0;
}
#main-contents-middle2 h2 .br-sp {
    display: none;
}
#main-contents-middle2 h2 {
    font-size: 40px;
	line-height: 1;
}
#main-contents-middle2 p {
    font-size: 22px;
}
#jitsurei-block {
    margin: 60px auto 200px;
	padding: 30px;
}
#jitsurei-block .jitsurei:last-child{
	margin-top: 80px;
}
#main-contents-middle2::after {
    content: "";
    position: absolute;
    height: 90px;
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 110%;
    left: 50%;
    bottom: -1px;
    animation: cloud04 90s linear infinite;
	min-height: auto;
}
#main-contents-form{
	padding: 50px 0 180px;
}
#main-contents-form h2{
	font-size: 40px;
	line-height: 1;
}
#main-contents-form h2 .br-sp {
    display: none;
}
#main-contents-form h3{
	font-size: 32px;
}
#main-contents-form p{
	font-size: 21px;
	margin-top: 20px;
}
#main-contents-form::after {
    content: "";
    position: absolute;
    height: 90px;
    background-image: url("../images/top/top-after.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 110%;
    left: 50%;
    bottom: -1px;
	animation: cloud05 140s linear infinite;
	min-height: auto;
	transform: translateX(-50%);
}
#main-contents-form small {
    color: #fff;
    font-size: 13px;
}
#main-contents-form small a{
    color: #FAFF00;
    font-size: 13px;
}
#menu {
    height: 48px;
}
#menu-list{
	width: 960px;
	margin: 80px auto 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0;
}
.menu-list{
	width: 450px;
	margin: 0 0 60px;
}
.menu-list:last-child{
	width: 960px;
	margin: 0 0 60px;
}
.top-menu-list-title {
    font-size: 36px;
}
.top-menu-list-text {
    font-size: 21px;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height: 1.6;
}
.top-menu-list-recommend {
    font-size: 18px;
}
.top-menu-list-recommend-text {
    font-size: 17px;
}
.top-menu-list-end {
    font-size: 30px;
    margin-top: 50px;
}
.top-menu-list-text span {
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height: 1.6;
}
#click-button2 {
    width: 100%;
    padding: 0 15px;
    display: none;
    margin: 0 auto 30px;
}
#card-logo {
	padding-bottom: 120px;
	min-height: 650px;
}
#card-logo::after {
    bottom: -1px;
}
body.Win.Ie.PC #card-logo::after {
    background-image: url("../images/top/top-menu-after.png");
}
.logo-content{
  justify-content: space-around;
}
.logo-text img {
    height: 30px;
}
.logo-area {
  width: 960px;
}
.visa {
  width: 106px;
}
.visadebit {
  width: 150px;
}
.Mastercard {
  width: 110px;
}
.Mastercard-3 {
  width: 250px;
}
.jcb {
  width: 100px;
}
.alipay {
  width: 80px;
}
.wechat {
  width: 90px;
}
.amex {
  width: 80px;
}
.dinersclub {
  width: 100px;
}
.discover {
  width: 110px;
}
.ginren {
  width: 110px;
}
}
@media only screen and (min-width: 1600px) {
#main-contents-top-cloud {
    max-width: 1280px;
}
#main-contents-top-image {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
#main-image-house {
    margin-left: 200px;
	margin-top: 140px;
	width: auto;
}
.main-contents-middle-inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 200px 0;
}
.main-contents-middle-inner h2 {
    font-size: 48px;
}
.contents-title {
    width: 900px;
    height: 50px;
    padding: 0 0 0 180px;
    font-size: 24px;
}
.main-contents-middle-inner h3 {
    margin: 0;
    width: 180px;
    height: 108px;
    background-color: #bdbbbb;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
h3.sorapro-title {
    background-color: #ffff00;
    color: #0071b2;
}
h4 {
  font-size: 15px;
}
#voice p {
    font-size: 18px;
    line-height: 1.8;
}
.inner02-p {
    color: #fff;
    text-align: justify;
    width: 780px;
    font-size: 22px;
    line-height: 1.6;
	margin: 0;
}
.jitsurei {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 30px auto;
    max-width: 1280px;
    width: 100%;
}
#main-contents-business {
    width: 1280px;
    margin: 0 auto 200px;

}
#menu-list {
    width: 1280px;
    margin: 80px auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
}
.menu-list {
    width: 600px;
    margin: 0 0 60px;
}
.menu-list:last-child {
    width: 1280px;
    margin: 0 0 60px;
}
.top-menu-list-end {
    font-size: 37px;
    margin-top: 75px;
}
.logo-text img {
  height: 40px;
}
}