@charset "UTF-8";
/* CSS Document */
#main-contents-form {
    background-color: #00a0f7;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10% 15px 15%;
    position: relative;
    margin-top: 20%;
    overflow: unset;
}
#main-contents-form::before {
    content: "";
    position: absolute;
    height: auto;
    background-image: url("./../images/top/top-bttom-after2.svg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: bottom,center;
    width: 100%;
    left: 50%;
    top: -80px;
    animation: cloud04 90s linear infinite;
    min-height: 80px;
    transform: translateX(-50%);
    z-index: 2;
}
#main-contents-form::after {
    content: "";
    position: absolute;
    height: auto;
    background-image: url("./../images/top/top-menu-after.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 200%;
    left: 50%;
    bottom: -1%;
    animation: cloud05 140s linear infinite;
    min-height: 80px;
}
#main-contents-form h1 {
    font-size: 21px;
    font-weight: bold;
    color: #fff;
}
#privacy-policy {
    width: 100%;
    max-width: 960px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    font-size: 16px;
    line-height: 2;
    text-align: justify;
}
#privacy-policy h2 {
    font-size: 18px;
    margin: 30px 0 10px;
    font-weight: bold;
    color: #29a1d8;
}
#privacy-policy h3{
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: bold;
	color: #29a1d8;
}
@media only screen and (min-width: 1024px) {
#main-contents-form {
    background-color: #00a0f7;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 50px 15px 180px;
    position: relative;
    margin-top: 130px;
	overflow: unset;
}
#privacy-policy {
    width: 100%;
    max-width: 960px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    font-size: 16px;
    line-height: 2;
    text-align: justify;
}
#main-contents-form h1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
#privacy-policy h2{
	font-size: 24px;
	margin: 30px 0 10px;
	font-weight: bold;
	color: #29a1d8;
}
#main-contents-form::before  {
    content: "";
    position: absolute;
    height: 90px;
    background-image: url("./../images/top/top-bttom-after2.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    width: 110%;
    left: 50%;
    top: -90px;
    animation: cloud04 90s linear infinite;
    min-height: auto;
	z-index: 2;
}
}